RewriteEngine On 
RewriteBase /luno/lunodoro/back-php/src/controllers/

# Usuário
RewriteRule ^usuarios$ userController.php [L,NC]
RewriteRule ^usuarios/login$ userController.php [L,NC]
RewriteRule ^usuarios/detalhes$ userController.php [QSA,NC]

# Tipo de lista
RewriteRule ^tipoLista$ TypeListController.php [L,NC]
RewriteRule ^tipoLista/detalhes$ TypeListController.php [QSA,NC]

# Lista
RewriteRule ^lista$ ListController.php [QSA,NC]
# RewriteRule ^lista/detalhes$ ListController.php [QSA,NC]

# Tarefa
RewriteRule ^usuarios/tarefas$ TaskController.php [QSA,NC]
RewriteRule ^usuarios/tarefas/detalhes$ TaskController.php [QSA,NC]

# Lista de tarefas
RewriteRule ^usuarios/listas/tarefas$ TaskListController.php [QSA,NC]
RewriteRule ^usuarios/listas/foco$ TaskListController.php [QSA,NC]
RewriteRule ^usuarios/tarefas/concluidas/tiposListas$ TaskListController.php [QSA,NC]
