@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 500;
}

:root{
    --cor-background-primario: #5b1994;
    --cor-backgound-secundario: #bc8ff3;
    --cor-backgound-inputText: #d9d9d9;
    --cor-texto: #f5f5f5;
    --cor-link: #633ce0;
    --cor-destaque: #e03b7f;
}

h1::selection,
h2::selection,
h3::selection,
p::selection,
li::selection,
a::selection,
pre::selection,
span::selection,
img::selection,
br::selection{
  color: var(--cor-backgound-inputText);
  background-color: var(--cor-backgound-secundario);
}