body {
    background-color: (--cor-background-primario);
    color: #333;
    text-align: center;
}

.home-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.welcome-message {
    font-size: 32px;
    color: var(--cor-background-primario);
    margin-bottom: 20px;
}

.intro-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.task-list-link {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--cor-destaque);
    color: var(--cor-background-primario);
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}
