body {
  background-color: var(--cor-background-primario);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--cor-texto);
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 3.5rem auto;
  height: 70vh;
  padding: 20px 100px;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
  margin-top: 2rem;
}

.card {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 1rem 2rem;
  max-width: 400px;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
}

.card:hover {
  background-color: rgba(240, 248, 255, 0.894);
  cursor: pointer;
}

.tag-progress {
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  margin-left: auto; 
}

.em_progresso {
  color: hsl(29, 97%, 30%);
  background-color: hsl(39, 57%, 72%);
}

.concluido {
  background-color: hsl(104, 73%, 69%);
  color: hsl(104, 73%, 21%);
}

h3 {
  font-size: 1.2rem;
}

p {
  color: #6c757d;
}

.date {
  font-size: 0.85rem;
  text-align: right;
  padding-top: 1rem;
}
